@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --color-white: #fff;
  --color-light-blue: #009fe3;
  --color-black: #000;
  --color-gray: #f6f6f6;
  --color-blue: #eceff1;
  --color-gray-text: #757575;
  --color-gray-2: #737575;
  --color-blue-2: #bbdefb;
  --color-blue-3: #0d47a1;
  --color-purple: #7e57c2;
}

:root {
  --color-white: #fff;
  --color-light-blue: #009fe3;
  --color-black: #000;
  --color-gray: #f6f6f6;
  --color-blue: #eceff1;
  --color-gray-text: #757575;
  --color-gray-2: #737575;
  --color-blue-2: #bbdefb;
  --color-blue-3: #0d47a1;
  --color-purple: #7e57c2;
}

.blog {
  padding: 3rem 0rem 3rem 0rem;
  position: relative;
  background-color: var(--white);
}

@media (max-width: 991px) {
  .blog {
    padding: 2rem 0rem;
  }
}

.blog .title h6 {
  color: var(--color-light-blue);
  color: var(--color-gray-text);
  font-size: 1.3rem;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .blog .title h6 {
    font-size: 1rem;
  }
}

.blog .title h3 {
  color: var(--color-light-blue);
  font-weight: 700;
  font-size: 2.5rem;
}

@media (max-width: 1200px) {
  .blog .title h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 991px) {
  .blog .title .button-area {
    margin-top: 2rem;
  }
}

.blog .title .button-area .button {
  position: relative;
  padding: 0.5rem 1rem;
  background-color: transparent;
  color: var(--color-white);
  border: 1px solid var(--color-white);
  margin-top: 2rem;
  font-weight: 500;
  font-size: 1.2rem;
  border-radius: 0;
  color: var(--color-light-blue);
  border-color: var(--color-light-blue);
}

.blog .title .button-area .button::before, .blog .title .button-area .button::after {
  content: "";
  display: block;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid var(--color-white);
  width: 1em;
  height: 1em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 5;
}

.blog .title .button-area .button:before {
  top: -6px;
  left: -6px;
  border-width: 2px 0 0 2px;
}

.blog .title .button-area .button:after {
  bottom: -6px;
  right: -6px;
  border-width: 0 2px 2px 0;
}

.blog .title .button-area .button:hover:before, .blog .title .button-area .button:hover::after {
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.blog .title .button-area .button::before, .blog .title .button-area .button::after {
  border-color: var(--color-light-blue);
}

@media (max-width: 991px) {
  .blog .title .button-area .button {
    font-size: 1rem;
  }
}

.blog .blog-area {
  margin-top: 3rem;
}

.blog .blog-area .swiper {
  width: 100%;
  height: 100%;
}

.blog .blog-area .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.blog .blog-area .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog .blog-area .swiper .swiper-slide {
  background-color: transparent;
}

.blog .blog-area .swiper .swiper-slide:hover span {
  margin-right: 1rem;
}

.blog .blog-area .swiper .card {
  -webkit-box-shadow: 2px 8px 30px rgba(35, 39, 86, 0.05);
          box-shadow: 2px 8px 30px rgba(35, 39, 86, 0.05);
  border: none;
}

.blog .blog-area .swiper .card .img-wrapper {
  position: relative;
}

.blog .blog-area .swiper .card .img-wrapper::before {
  content: "";
  position: absolute;
  bottom: -14px;
  left: 0;
  right: 0;
  top: 26%;
  background: linear-gradient(0.45deg, white 12%, rgba(255, 255, 255, 0) 89.88%);
  pointer-events: none;
}

.blog .blog-area .swiper .card .img-wrapper img {
  max-width: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog .blog-area .swiper .card .card-body {
  text-align: left;
  padding: 2rem 1.5rem;
  height: 15rem;
}

@media (max-width: 991px) {
  .blog .blog-area .swiper .card .card-body {
    padding: 2rem 1rem;
  }
}

.blog .blog-area .swiper .card .card-body .card-title a {
  color: var(--color-light-blue);
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

@media (max-width: 991px) {
  .blog .blog-area .swiper .card .card-body .card-title a {
    font-size: 1.3rem;
  }
}

.blog .blog-area .swiper .card .card-body p {
  font-size: 1rem;
  font-weight: 300;
  color: var(--color-black);
}

.blog .blog-area .swiper .card .card-body .button-area {
  margin-top: 1rem;
}

.blog .blog-area .swiper .card .card-body .button-area .button {
  color: var(--color-light-blue);
  font-size: 1rem;
  border: none;
}

.blog .blog-area .swiper .card .card-body .button-area .button span {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

@media (max-width: 991px) {
  .blog .blog-area .swiper .card .card-body .button-area .button {
    font-size: 1rem;
  }
}

.blog .blog-area .swiper-button-next,
.blog .blog-area .swiper-rtl .swiper-button-prev {
  top: 2rem;
  color: var(--color-gray-text);
}

.blog .blog-area .swiper-button-prev,
.blog .blog-area .swiper-rtl .swiper-button-next {
  top: 2rem;
  left: auto;
  right: 3rem;
  color: var(--color-gray-text);
}
/*# sourceMappingURL=HomeBlog.css.map */