@import "../../../Styles/variables.scss";
@import "../../../Styles/mixin.scss";
.blog-detail {
    padding: 5rem 2rem;
    position: relative;

    @include breakpoint(lg) {
        padding: 2rem 1rem;
    }

    h2,
    h3 {
        @include h3;
        font-size: 1.8rem;
    }

    .blog-details-image {
        img {
            height: 35rem;
            object-fit: cover;
        }
    }

    p {
        color: var(--color-gray-text);
        font-size: 1rem;
    }

  

    .tagcloud {
       @include tagcloud;
    }
}
