@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --color-white: #fff;
  --color-light-blue: #009fe3;
  --color-black: #000;
  --color-gray: #f6f6f6;
  --color-blue: #eceff1;
  --color-gray-text: #757575;
  --color-gray-2: #737575;
  --color-blue-2: #bbdefb;
  --color-blue-3: #0d47a1;
  --color-purple: #7e57c2;
}

header {
  position: absolute;
  width: 100%;
  z-index: 99999;
}

@media screen and (min-width: 991px) {
  header .container {
    position: relative;
  }
}

header .header-inner {
  padding: 1rem 0rem;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

header .header-inner.sticky {
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.548);
  top: 0;
  padding: 0.5rem 0rem !important;
}

header .header-inner.sticky .navbar-brand img {
  max-width: 10rem !important;
  -o-object-fit: cover;
     object-fit: cover;
}

header .header-inner.sticky .menu-area ul {
  margin-bottom: 0rem !important;
}

@media (max-width: 991px) {
  header .header-inner.sticky .menu-area ul {
    margin-bottom: 2rem !important;
  }
}

header .header-inner .header-area .navbar-brand img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  max-width: 12rem;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 991px) {
  header .header-inner .header-area .navbar-brand img {
    max-width: 10rem;
  }
}

@media (max-width: 991px) {
  header .header-inner .header-area .navbar-brand {
    padding: 1rem;
  }
}

header .header-inner .header-area .hamburger {
  margin-bottom: 2rem !important;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  z-index: 999;
}

header .header-inner .header-area .hamburger .line {
  display: block;
  width: 40px;
  height: 2px;
  background-color: var(--color-white);
  margin-block: 10px;
  border-radius: 4px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

header .header-inner .header-area .hamburger.active .line {
  background-color: var(--color-black);
}

header .header-inner .header-area .hamburger.active .line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
          transform: translateY(13px) rotate(45deg);
}

header .header-inner .header-area .hamburger.active .line:nth-child(2) {
  opacity: 0;
}

header .header-inner .header-area .hamburger.active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
          transform: translateY(-13px) rotate(-45deg);
}

@media (max-width: 991px) {
  header .header-inner .header-area .menu-area ul {
    margin-bottom: 2rem !important;
  }
}

header .header-inner .header-area .menu-area ul .nav-item:last-child {
  border: 1px solid var(--color-light-blue);
  background-color: var(--color-light-blue);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

header .header-inner .header-area .menu-area ul .nav-item:last-child:hover {
  background-color: transparent;
}

@media (max-width: 991px) {
  header .header-inner .header-area .menu-area ul .nav-item:last-child a {
    color: var(--color-white) !important;
  }
}

header .header-inner .header-area .menu-area ul .nav-item a {
  color: var(--color-white);
  cursor: pointer;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  font-size: 1.2rem;
  font-weight: 500;
}

@media (max-width: 1200px) {
  header .header-inner .header-area .menu-area ul .nav-item a {
    font-size: 1rem;
  }
}

header .header-inner .header-area .menu-area ul .nav-item a:hover {
  color: var(--color-light-blue);
}

header .header-inner .header-area .menu-area ul .nav-item a.active {
  color: var(--color-light-blue);
}

header .header-inner .header-area .menu-area ul .nav-item .dropdown-menu {
  min-width: 15rem;
  padding: 1rem !important;
  border: none;
  border-bottom: 2px solid var(--color-light-blue) !important;
}

header .header-inner .header-area .menu-area ul .nav-item .dropdown-menu.mega-menu {
  left: 0rem;
}

@media (max-width: 991px) {
  header .header-inner .header-area .menu-area ul .nav-item .dropdown-menu.mega-menu {
    height: 15rem;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

@media (max-width: 991px) {
  header .header-inner .header-area .menu-area ul .nav-item .dropdown-menu {
    position: relative !important;
    -webkit-transform: inherit !important;
            transform: inherit !important;
    border: none !important;
    padding: 0;
  }
}

header .header-inner .header-area .menu-area ul .nav-item .dropdown-menu img {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  height: 22rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header .header-inner .header-area .menu-area ul .nav-item .dropdown-menu li {
  position: relative;
  padding-left: 0rem;
}

header .header-inner .header-area .menu-area ul .nav-item .dropdown-menu li:hover::before {
  width: 100%;
}

header .header-inner .header-area .menu-area ul .nav-item .dropdown-menu li::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  background-color: var(--color-light-blue);
  width: 0;
  height: 2px;
  bottom: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

header .header-inner .header-area .menu-area ul .nav-item .dropdown-menu li a {
  color: var(--color-gray-text);
  font-size: 1.1rem;
  font-weight: 500;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

@media (max-width: 1200px) {
  header .header-inner .header-area .menu-area ul .nav-item .dropdown-menu li a {
    font-size: 1rem;
    padding-left: 1rem;
  }
}

header .header-inner .header-area .menu-area ul .nav-item .dropdown-menu li a:hover {
  color: var(--color-light-blue);
}

header .header-inner .header-area .menu-area ul .nav-item .dropdown-menu li a:hover i {
  margin-right: 1rem;
}

header .header-inner .header-area .menu-area ul .nav-item .dropdown-menu li a i {
  margin-right: 0.5rem;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

header .header-inner .header-area .menu-area ul .nav-item:hover .dropdown-menu {
  display: block;
}

header .header-inner .header-area .menu-area ul .nav-item:hover .dropdown-menu .dropdown-item {
  background-color: transparent;
}

@media screen and (min-width: 991px) {
  header .header-inner .header-area .menu-area ul .nav-item .sub-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header .header-inner .header-area .menu-area ul .nav-item .sub-item li {
    width: calc(50% - 30px);
    padding: 0.5rem 0rem;
    margin: 0 0.5rem;
  }
}

header .header-inner .header-area .menu-area ul .nav-item .sub-item li {
  position: relative;
}

@media (max-width: 991px) {
  header .header-inner .header-area .menu-area {
    opacity: 0;
    visibility: hidden;
    width: 0%;
    position: absolute;
    background-color: var(--color-white);
    left: 0;
    height: 100vh;
    bottom: 0;
    top: 0;
    padding: 1rem 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: 0.3s all !important;
    transition: 0.3s all !important;
  }
  header .header-inner .header-area .menu-area .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  header .header-inner .header-area .menu-area .menu li a {
    color: var(--color-light-blue);
  }
  header .header-inner .header-area .menu-area .language-area-mobil {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  header .header-inner .header-area .menu-area .language-area-mobil li {
    margin-right: 1rem;
  }
  header .header-inner .header-area .menu-area .language-area-mobil li a {
    font-weight: 600;
    border: 1px solid var(--color-light-blue);
    padding: 0.2rem 0.4rem;
    font-size: 0.7rem;
    color: var(--color-light-blue);
  }
}

@media (max-width: 991px) {
  header .header-inner .header-area .menu-area.active {
    width: 100%;
    opacity: 9;
    visibility: visible;
  }
  header .header-inner .header-area .menu-area.active img {
    -webkit-filter: none;
            filter: none;
  }
}
/*# sourceMappingURL=Header.css.map */